<form [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <p>
        <mat-form-field [style.width.px]=250 appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            <mat-error *ngIf="loginFormGroup.get('emailFormControl')!.hasError('required')">
            Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </p>
    <div formGroupName="passwordFormGroup">
    <p>
        <mat-form-field [style.width.px]=250 appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="passwordFormControl" [errorStateMatcher]="passwordMatcher" >
            <mat-error *ngIf="loginFormGroup['controls'].passwordFormGroup.get('passwordFormControl')!.hasError('required')">
            Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </p>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginFormGroup.valid">Sign in</button>
</form>