<p class="no-margin">
    <mat-toolbar>
        <button class="logo icon-display" *ngIf="showBrand" mat-button aria-label="ExpenseTracker Logo">
            <mat-icon svgIcon="piggybank">ExpenseTracker Logo</mat-icon>ExpenseTracker
        </button>
        <a class="button" mat-button *ngFor="let item of leftNavItems" [routerLink]="item.routerLink" aria-label="item.ariaLabel">
            {{item.name}}
        </a>
        <span class="spacer"></span>
        <a class="button" mat-button *ngFor="let item of rightNavItems" [routerLink]="item.routerLink" aria-label="item.ariaLabel">
            {{item.name}}
        </a>
  </mat-toolbar>
</p>